{% extends 'base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'hh/index.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'hh/custom.css' %}" media="screen">
{% endblock %}



{% block body %}

<body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-palette-2-base u-sticky u-sticky-7632 u-header" id="sec-e6d6"><div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1" data-responsive-from="MD">
      <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px;">
        <a class="u-button-style u-custom-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-text-shadow u-custom-text-shadow-blur u-custom-text-shadow-color u-custom-text-shadow-transparency u-custom-text-shadow-x u-custom-text-shadow-y u-nav-link u-text-body-alt-color" href="#" style="font-size: calc(1em + 8px); text-shadow: -2px 0 0 rgba(0,0,0,0);">
          <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a760"></use></svg>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-a760" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container irs-nav-font">
        <ul class="u-custom-font u-nav u-spacing-70 u-text-font u-unstyled u-nav-1">
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-2377" style="padding: 8px 0px;">ارتباط با ما</a></li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-44d5" style="padding: 8px 0px;">درباره ما</a></li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-8e24" style="padding: 8px 0px;">محصولات</a></li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-0431" style="padding: 8px 0px;">خانه</a></li>
        </ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-85 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close u-menu-close-1 "></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-spacing-20 u-text-hover-palette-5-base u-unstyled u-nav-2 irs-nav-font">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-0431">خانه</a></li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-8e24">محصولات</a></li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-44d5">درباره ما</a></li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#sec-2377">ارتباط با ما</a></li>
            </ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav><span class="u-file-icon u-icon u-text-palette-1-base u-icon-1"><a href="#sec-0431"><img src="{% static 'hh/images/Asset1light.svg' %}" alt=""></a></span>
  </div></header> 
<section class="u-clearfix u-palette-3-base u-section-1" id="sec-0431">
  <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-image u-layout-cell u-left-cell u-size-28 u-image-1" style="background-image: url('{% static 'hh/images/bg-3.jpg' %}')">
          <div class="u-container-layout">
            <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
          </div>
        </div>
        <div class="u-container-style u-gradient u-layout-cell u-right-cell u-size-32 u-layout-cell-2">
          <div class="u-container-layout">
            <img src="{% static 'hh/images/spl-4.png' %}" alt="" class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-2" data-image-width="900" data-image-height="713">
            <div class="u-container-style u-group u-image u-image-3" style="background-image: url('{{ images.img1.url }}')">
              <div class="u-container-layout u-container-layout-3"></div>
            </div>
            <div class="u-container-style u-group u-group-2">
              <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-4">
                <h1 class="u-text u-text-body-alt-color u-title u-text-1">
                  <span style="font-weight: normal;">H&amp;H</span>
                  <br>Perfumes<br>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-valign-middle-xs u-section-2" id="sec-8e24">
  <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-align-right u-container-style u-layout-cell u-left-cell u-size-27-lg u-size-27-xl u-size-31-md u-size-31-sm u-size-31-xs u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-align-right u-container-style u-group u-palette-1-base u-shape-rectangle u-group-1">
              <div class="u-container-layout u-valign-top-md u-valign-top-sm u-container-layout-2">
                <p class="u-text u-text-1 irs-title-font">{{ product1.title }}</p>
                <p class="per u-text u-text-2 irs-p-font">{{ product1.content }}</p>
                <div class="notediv">
                  <ul>
                      <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product1.note1 }}</p></li>
                      <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product1.note2 }}</p></li>
                      <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product1.note3 }}</p></li>
                  </ul>
                </div>
                <p class="u-text u-text-4 irs-p-font">{{ product1.smell }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-right-cell u-size-29-md u-size-29-sm u-size-29-xs u-size-33-lg u-size-33-xl u-layout-cell-2">
          <div class="u-container-layout u-container-layout-3">
            <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
            <img src="{% static 'hh/images/spl-1.png' %}" alt="" class="u-expanded-width-md u-image u-image-contain u-image-default u-image-1" data-image-width="633" data-image-height="648">
            <img class="u-image u-image-2" src='{{ product1.img.url }}'>
            <div class="u-align-left u-container-style u-group u-palette-1-base u-group-2">
              <div class="u-container-layout u-container-layout-4">
                <p class="u-text u-text-5 cali-title-font">{{product1.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-3" id="sec-763f">
  <div class="u-clearfix u-sheet u-sheet-1">
    <img src="{% static 'hh/images/bg-5.jpg' %}" alt="" class="u-image u-image-default u-image-1">
    <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-container-style u-expanded-width-xs u-group u-palette-3-base u-shape-rectangle u-group-1">
      <div class="u-container-layout u-valign-bottom-md u-container-layout-1">
        <div class="u-align-right u-container-style u-expanded-width-xs u-group u-group-2">
          <div class="u-container-layout u-container-layout-2">
            <p class="u-align-right u-text u-text-1 irs-title-font">{{ product2.title }}</p>
            <p class="per u-text u-text-2 irs-p-font">{{ product2.content }}</p>
            <div class="notediv">
              <ul>
                  <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product2.note1 }}</p></li>
                  <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product2.note2 }}</p></li>
                  <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product2.note3 }}</p></li>
              </ul>
            </div>
            <p class="u-text u-text-4 irs-p-font">{{ product2.smell }}</p>
          </div>
        </div>
        <img src="{% static 'hh/images/spl-3.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="656" data-image-height="630">
      </div>
    </div>
    <img src='{{ product2.img.url }}' alt="" class="u-image u-image-default u-image-3">
    <div class="u-align-left u-container-style u-group u-palette-1-base u-group-3">
      <div class="u-container-layout u-valign-middle u-container-layout-3">
        <p class="eng u-align-left u-text u-text-5 cali-title-font">{{ product2.name }}</p>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-4" id="carousel_9e86">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-right-cell u-size-28 u-layout-cell-1">
            <div class="u-container-layout">
              <img class="u-expanded-width-lg u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-image u-image-1" src="{% static 'hh/images/bg-1.jpg' %}">
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-left-cell u-size-32 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
              <img src="{% static 'hh/images/spl-2.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="592" data-image-height="572">
              <img class="u-image u-image-3" src='{{ product3.img.url }}'>
              <div class="u-container-style u-group u-palette-1-base u-group-1">
                <div class="u-container-layout u-container-layout-3">
                  <p class="eng u-text u-text-1 cali-title-font">{{ product3.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-right u-container-style u-group u-palette-1-base u-group-2">
      <div class="u-container-layout u-container-layout-4">
        <p class="u-text u-text-2 irs-title-font">{{ product3.title }}</p>
        <p class="per u-text u-text-3 irs-p-font">{{ product3.content }}</p>
        <div class="notediv">
          <ul>
              <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product3.note1 }}</p></li>
              <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product3.note2 }}</p></li>
              <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product3.note3 }}</p></li>
          </ul>
        </div>
        <p class="u-text u-text-5 irs-p-font">{{ product3.smell }}</p>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-5" id="carousel_5432">
  <div class="u-clearfix u-sheet u-sheet-1">
    <img src="{% static 'hh/images/bg-5.jpg' %}" alt="" class="u-image u-image-default u-image-1">
    <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-palette-3-base u-shape u-shape-rectangle u-shape-2"></div>
    <img src="{% static 'hh/images/spl-3.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="656" data-image-height="630">
    <img src='{{ product4.img.url }}' alt="" class="u-image u-image-default u-image-3">
    <div class="u-align-right u-container-style u-expanded-width-xs u-group u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <p class="u-align-right u-text u-text-1 irs-title-font">{{ product4.title }}</p>
        <p class="per u-text u-text-2 irs-p-font">{{ product4.content }}</p>
        <div class="notediv">
          <ul>
              <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product4.note1 }}</p></li>
              <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product4.note2 }}</p></li>
              <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product4.note3 }}</p></li>
          </ul>
        </div>
        <p class="u-text u-text-4 irs-p-font">{{ product4.smell }}</p>
      </div>
    </div>
    <div class="u-align-left u-container-style u-group u-palette-1-base u-group-2">
      <div class="u-container-layout u-container-layout-2">
        <p class="eng u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-5 cali-title-font">{{ product4.name }}</p>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-6" id="sec-7484">
  <div class="u-clearfix u-sheet u-sheet-1">
    <img src="{% static 'hh/images/bg-2.jpg' %}" alt="" class="u-image u-image-default u-image-1">
    <img src="{% static 'hh/images/spl-4.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="900" data-image-height="713">
    <div class="u-expanded-width-xs u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-col">
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-align-right u-container-style u-layout-cell u-left-cell u-right-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <p class="u-text u-text-1 irs-title-font">{{tagline1.title}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-align-right u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="pe u-text u-text-2 irs-p-font">{{ tagline1.content }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-7" id="carousel_d465">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-32 u-size-60-md">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout">
                  <img src="{% static 'hh/images/bg-1.jpg' %}" alt="" class="u-image u-image-default u-image-1">
                  <div class="u-align-left-lg u-align-left-xl u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
                  <img class="u-image u-image-2" src='{{ product5.img.url }}'>
                  <div class="u-align-left u-container-style u-group u-palette-1-base u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                      <p class="eng u-text u-text-1 cali-title-font">{{ product5.name }}<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-28 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout"></div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-40 u-layout-cell-3">
                <div class="u-container-layout">
                  <div class="u-align-left u-expanded-width-xs u-palette-1-base u-shape u-shape-rectangle u-shape-2"></div>
                  <div class="u-align-right u-container-style u-expanded-width-xs u-group u-group-2">
                    <div class="u-container-layout u-container-layout-5">
                      <p class="u-align-right u-text u-text-2 irs-title-font">{{ product5.title }}</p>
                      <p class="u-text u-text-3 irs-p-font">{{ product5.content }}</p>
                      <div class="notediv">
                        <ul>
                            <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product5.note1 }}</p></li>
                            <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product5.note2 }}</p></li>
                            <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product5.note3 }}</p></li>
                        </ul>
                      </div>
                      <p class="u-text u-text-5 irs-p-font">{{ product5.smell }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-8" id="carousel_58ed">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-right-cell u-size-28 u-layout-cell-1">
            <div class="u-container-layout">
              <img class="u-expanded-width-lg u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-hidden-xs u-image u-image-1" src="{% static 'hh/images/bg-1.jpg' %}">
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-left-cell u-size-32 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
              <img src="{% static 'hh/images/spl-2.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="592" data-image-height="572">
              <img class="u-image u-image-3" src='{{ product6.img.url }}'>
              <div class="u-container-style u-group u-palette-1-base u-group-1">
                <div class="u-container-layout u-container-layout-3">
                  <p class="u-text u-text-1 cali-title-font">{{ product6.name }}<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-align-right u-container-style u-group u-palette-1-base u-group-2">
      <div class="u-container-layout u-container-layout-4">
        <p class="u-text u-text-2 irs-title-font">{{ product6.title }}</p>
        <p class="per u-text u-text-3 irs-p-font">{{ product6.content }}</p>
        <div class="notediv">
          <ul>
              <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product6.note1 }}</p></li>
              <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product6.note2 }}</p></li>
              <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product6.note3 }}</p></li>
          </ul>
        </div>
        <p class="u-text u-text-5 irs-p-font">{{ product6.smell }}</p>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-9" id="carousel_d7e9">
  <div class="u-clearfix u-sheet u-sheet-1">
    <img src="{% static 'hh/images/bg-5.jpg' %}" alt="" class="u-image u-image-default u-image-1">
    <div class="u-expanded-width-xs u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-container-style u-group u-palette-3-base u-shape-rectangle u-group-1">
      <div class="u-container-layout u-valign-bottom-xl u-container-layout-1">
        <div class="u-align-right u-container-style u-group u-group-2">
          <div class="u-container-layout u-container-layout-2">
            <p class="u-align-right u-text u-text-1 irs-title-font">{{ product7.title }}</p>
            <p class="per u-text u-text-2 irs-p-font">{{ product7.content}}</p>
            <div class="notediv">
              <ul>
                  <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product7.note1 }}</p></li>
                  <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product7.note2 }}</p></li>
                  <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product7.note3 }}</p></li>
              </ul>
            </div>
            <p class="u-text u-text-4 irs-p-font">{{product7.smell}}</p>
          </div>
        </div>
      </div>
    </div>
    <img src="{% static 'hh/images/spl-3.png' %}" alt="" class="u-expanded-width-sm u-image u-image-contain u-image-default u-image-2" data-image-width="656" data-image-height="630">
    <img src='{{ product7.img.url }}' alt="" class="u-image u-image-default u-image-3">
    <div class="u-align-left u-container-style u-group u-palette-1-base u-group-3">
      <div class="u-container-layout u-container-layout-3">
        <p class="u-text u-text-5 cali-title-font">{{ product7.name }}</p>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-10" id="carousel_87be">
  <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-align-right u-container-style u-layout-cell u-left-cell u-size-27 u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-align-right u-container-style u-group u-palette-1-base u-shape-rectangle u-group-1">
              <div class="u-container-layout u-container-layout-2">
                <p class="u-text u-text-1 irs-title-font">{{ product8.title }}</p>
                <p class="per u-text u-text-2 irs-p-font">{{ product8.content }}</p>
                <div class="notediv">
                  <ul>
                      <li class="rtl"><p class="per u-text irs-p-font">نت ابتدایی: {{ product8.note1 }}</p></li>
                      <li class="rtl"><p class="per u-text irs-p-font">نت میانی: {{ product8.note2 }}</p></li>
                      <li class="rtl"><p class="per u-text irs-p-font">نت پایانی: {{ product8.note3 }}</p></li>
                  </ul>
                </div>
                <p class="u-text u-text-4 irs-p-font">{{ product8.smell }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-layout-cell u-right-cell u-size-33 u-layout-cell-2">
          <div class="u-container-layout u-container-layout-3">
            <div class="u-hidden-xs u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
            <img src="{% static 'hh/images/spl-1.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-1" data-image-width="633" data-image-height="648">
            <img class="u-image u-image-2" src='{{ product8.img.url }}'>
            <div class="u-align-left u-container-style u-group u-palette-1-base u-group-2">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-4">
                <p class="u-text u-text-5 cali-title-font">{{ product8.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="skrollable u-clearfix u-image u-parallax u-section-11" style="background-image: url('{{ images.img2.url }}')" id="sec-0b55">
  <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
    <img src="{% static 'hh/images/bg-4.jpg' %}" alt="" class="u-image u-image-default u-image-1">
    <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-align-right u-container-style u-group u-palette-2-base u-group-1">
      <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
        <p class="u-text u-text-body-alt-color u-text-1 irs-p-font">{{ tagline2.content }}</p>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-12" id="sec-44d5">
  <div class="u-clearfix u-sheet u-sheet-1">
    <img src="{% static 'hh/images/bg-2.jpg' %}" alt="" class="u-image u-image-default u-image-1">
    <img src="{% static 'hh/images/spl-4.png' %}" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="900" data-image-height="713">
    <div class="u-align-right u-container-style u-group u-palette-1-base u-shape-rectangle u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <p class="u-text u-text-1 irs-p-font-noj rtl">
          پخش عمده عطريات ايليا
          iliya perfume
          <br><br>
          نمايندگي انحصاري شركت پارفاروم و سنساروم اسپانيا و صاحب برند و توليد كننده ادكلن H&H 
          <br><br>
          ٠١١٣٣٣٠٥١٧٨ / ٠١١٣٣٣٢٣٧٤٩
          <br>
          ٠٩١١١٥٨٠٩٥٩ / ٠٩١٢٥٣٠٤٦٦٧
          <br><br>
          ساري، خيابان قارن، قارن ،١٤ مجتمع نور، طبقه اول، واحد 5
          <br><br>
          abbassortiji@gmail.com
          </p>
      </div>
    </div>
    <div class="u-align-left u-container-style u-group u-palette-2-base u-shape-rectangle u-group-2">
      <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-2">
        <h3 class="u-text u-text-body-alt-color u-text-2 irs-title-font">درباره ما</h3>
      </div>
    </div>
    <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
  </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-13" id="sec-2377">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
    <div class="box u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-palette-1-base u-shape-rectangle u-group-1">
      <div class="u-container-layout u-valign-bottom-lg u-container-layout-1">
        <div class="u-clearfix u-custom-html u-expanded-width u-custom-html-1"></div>
        <h1 class="u-align-justify u-text u-text-default u-text-1 irs-title-font">تماس با ما</h1>
        <div class="u-align-center u-form u-form-1">
          <form action='/message-sent' method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form" onsubmit="this.submit();this.reset()">
            {% csrf_token %}
            <div class="u-form-group u-form-name u-label-none irs-form-font">
              <label for="name-3b9a" class="u-label">Name</label>
              <input type="text" placeholder="نام" id="name-3b9a" name="name" style="direction: rtl" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-1" required="">
            </div>
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-3b9a" class="u-label">Email</label>
              <input type="email" placeholder="ایمیل" id="email-3b9a" name="email" style="direction: rtl"; class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-2" required="">
            </div>
            <div class="u-form-group u-form-phone u-label-none u-form-group-3">
              <label for="text-0914" class="u-label">Input</label>
              <input type="tel" placeholder="شماره تماس" id="text-0914" name="phone" style="direction: rtl" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-3">
            </div>
            <div class="u-form-group u-form-message u-label-none">
              <label for="message-3b9a" class="u-label">Message</label>
              <textarea placeholder="پیام" rows="4" cols="50" id="message-3b9a" name="message" style="direction: rtl;resize: vertical;" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-4" required=""></textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-none">
            <button class="u-border-2 u-border-white u-btn u-btn-rectangle u-btn-submit u-button-style u-none u-btn-1 irs-p-font-noj" type='submit'>ارسال</button>
            <div class="notification-container" id="notification-container"></div>

            <!--
            <a href="" class="u-border-2 u-border-white u-btn u-btn-rectangle u-btn-submit u-button-style u-none u-btn-1 irs-p-font-noj u-form-control-hidden">ارسال</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
            -->
            
            </div>
          </form>
        </div>
        <div class="u-clearfix u-group-elements u-group-elements-1">
          <p class="u-align-right irs-p-font u-text u-text-2"><img class="custom-icon" src="{% static 'hh/images/phonewhite.png' %}" alt="">01133323749 . 01133305178</p>
          <p class="u-align-right irs-p-font u-text u-text-3"><img class="custom-icon" src="{% static 'hh/images/phonewhite.png' %}" alt="">09111580959 . 09125304667</p>
          <p class="u-align-right irs-p-font u-text u-text-4"><img class="custom-icon" src="{% static 'hh/images/attsign.png' %}" alt="">aabbassortiji@gmail.com</p>
          <p class="u-align-right irs-p-font u-text u-text-5"><img class="custom-icon" src="{% static 'hh/images/locwhite.png' %}" alt="">ساري، خيابان قارن، قارن ١٤، مجتمع نور، طبقه اول، واحد 5</p>
        </div>
        <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
          <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span class="u-icon u-social-facebook u-social-icon u-text-white u-icon-6"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-22d8"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-22d8"><path fill="currentColor" d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2
c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name"><span class="u-icon u-social-icon u-social-twitter u-text-white u-icon-7"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-aafb"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-aafb"><path fill="currentColor" d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2
c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7
c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2
c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5
c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span class="u-icon u-social-icon u-social-instagram u-text-white u-icon-8"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1f77"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-1f77"><path fill="currentColor" d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z
 M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path fill="#FFFFFF" d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path fill="currentColor" d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7
V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7
c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="u-clearfix u-footer u-palette-2-base" id="sec-b2dc"><div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
                <ul>
                    <li><a href="#sec-0431" class="u-text u-text-1 irs-p-font-noj">صفحه اصلی</a></li>
                    <li><a href='#carousel_d465' class="u-text u-text-2 irs-p-font-noj">عطر مردانه</a></li>
                    <li><a href='#sec-8e24' class="u-text u-text-3 irs-p-font-noj">عطر زنانه</a></li>
                    <li><a href='#sec-44d5' class="u-text u-text-4 irs-p-font-noj">درباره ما</a></li>
                </ul>
            </div>
          </div>
          <div class="u-align-center u-container-style u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
                <ul>
                    <li><a href = "#sec-b2dc" class="u-text u-text-5 irs-p-font-noj">instagram</a></li>
                    <li><a href = "#sec-b2dc" class="u-text u-text-6 irs-p-font-noj">facebook</a></li>
                    <li><a href = "#sec-b2dc" class="u-text u-text-7 irs-p-font-noj">twitter</a></li>                   
                    <li><a href = "#sec-b2dc" class="u-text u-text-8 irs-p-font-noj">linkedin</a></li>                
                </ul>
            </div>
          </div>
          <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-20 u-size-20-md u-layout-cell-3">
            <div class="u-container-layout u-container-layout-3">
                <ul>
                    <li><a href = "#sec-b2dc" class="u-text u-text-9 irs-p-font-noj">09111580959</a></li>
                    <li><a href = "#sec-b2dc" class="u-text u-text-10 irs-p-font-noj">09111580959</a></li>
                    <li><a href = "#sec-b2dc" class="u-text u-text-11 irs-p-font-noj">01133323749</a></li>
                    <li><a href = "#sec-b2dc" class="u-text u-text-12 irs-p-font-noj">01133323749</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer>

<section class="u-backlink u-clearfix u-grey-80">
    <p class="u-align-center u-text u-text-variant u-text-13 u-small-text-foot"> .تمام حقوق مادی و معنوی تصاویر، طراحی، محصولات و محتوا نزد&nbsp;اچ ان اچ&nbsp;محفوظ می باشد</p>
</section>


{% endblock %}



