{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Perfume, Scent, Odekolon">
    <meta name="description" content="">
    <title>H & H</title>
    <link rel="stylesheet" href="{% static 'app.css' %}" media="screen">
    {% block css %}{% endblock %}
    <script class="u-script" type="text/javascript" src="{% static 'jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'nicepage.js' %}" defer=""></script>
    <link rel="shortcut icon" href="" type="image/x-icon" id="faviconTag">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
    }</script>
    <meta name="theme-color" content="#a58243">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>

{% block body %}

{% endblock %}
<script>
  const faviconTag = document.getElementById("faviconTag");
  const isDark = window.matchMedia("(prefers-color-scheme: dark)");

  const changeFavicon = () => {
    if (isDark.matches)
      faviconTag.href = "{% static 'favicon-light.svg' %}";
    else
      faviconTag.href = "{% static 'favicon-dark.svg' %}";
  };
  changeFavicon();
  isDark.addEventListener('change',changeFavicon);




  const notificationContainer = document.getElementById('notification-container');
  const NOTIFICATION_TYPES = {
    INFO: 'info',
    SUCCESS: 'success',
    WARNING: 'warning',
    DANGER: 'danger'
};

function addNotification(type, text) {
    // create the DIV and add the required classes
    const newNotification = document.createElement('div');
    newNotification.classList.add('notification', `notification-${type}`,'irs-p-font-noj');

    const innerNotification = `
		ارسال شد،  ${text}
	`;

    // insert the inner elements
    newNotification.innerHTML = innerNotification;

    // add the newNotification to the container
    notificationContainer.appendChild(newNotification);

    return newNotification;
}

function removeNotification(notification) {
    notification.classList.add('hide');

    // remove notification from the DOM after 0.5 seconds
    setTimeout(() => {
        notificationContainer.removeChild(notification);
    }, 5000);
}

{% if messages %}
  {% for message in messages %}
    const success = addNotification(NOTIFICATION_TYPES.SUCCESS, "{{message}}");
    setTimeout(() => {
        removeNotification(success);
    }, 5000);
  {% endfor %}
{% endif %}



</script>
</body>
</html>